<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>尾部</title>
<link th:href="../bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
	<div th:fragment="foot">
		<nav class="navbar navbar-default navbar-fixed-bottom">  
		    <div class="container-fluid text-center">  
		        <div style="padding: 6px 30px;">virtualspider.cn 版权所有</div>  
		        <div style="padding: 6px 30px;">粤ICP备17162197号</div>  
		    </div>  
		</nav>
	</div>
</body>
</html>