<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>头部</title>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
<script  src="../jquery-3.2.1.min.js"></script>
<script  src="../bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:fragment="head">
		<nav class="navbar navbar-default" role="navigation">
		    <div class="container-fluid">
		    	<div class="col-sm-3"></div>
		    	<div class="navbar-header">
			        <a class="navbar-brand" href="#">虚拟爬虫(virtualspider.cn)</a>
			    </div>
			    <div>
			        <ul class="nav navbar-nav">
			            <li class="active"><a href="#">技术干货</a></li>
			            <li><a href="#">项目实战</a></li>
			            <li class="dropdown">
			                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			                    其他
			                    <b class="caret"></b>
			                </a>
			                <ul class="dropdown-menu">
			                    <li><a href="#">个人简介</a></li>
			                    <li><a href="#">生活随笔</a></li>
			                    <li class="divider"></li>
			                    <li><a href="#">需求提交</a></li>
			                    <li class="divider"></li>
			                    <li><a href="#">支持我</a></li>
			                </ul>
			            </li>
			        </ul>
			    </div>
				<div>
					<ul class="nav navbar-nav">
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#">注册</a></li>
						<li><a href="#">登录</a></li>
					</ul>
				</div>
		    </div>
		</nav>
	</div>
</body>
</html>